MathNation Data Exploration
===
Exploring a sample of anonymized MathNation data.

In [1]:
from datetime import datetime
from pathlib import Path

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
data_dir = Path("../data")
assert data_dir.exists()

In [3]:
mn_discussion_filepath = data_dir / "raw" / "math_nation" / "mn_discussion_20230712.csv"
assert mn_discussion_filepath.exists()
mn_df = pd.read_csv(mn_discussion_filepath)
mn_df.shape

(5631, 9)

In [4]:
mn_df.sample(3)

,reply_id,reply_user,reply_content,reply_ts_created,post_id,subject_name,post_content,post_user,post_ts_created
1272,3274642,2112348,"Thank you for noticing, I apologize for not be...",2021-04-25 22:00:34,3274545,Geometry,How do I solve section 9 topic 4 question numb...,2112348,2021-04-25 21:17:36
5303,1847368,1913086,find the square roots first,2017-01-19 22:52:18,1847360,Algebra 1,How would is solve this?,2412659,2017-01-19 22:49:57
4925,1029771,2603478,So now plug those into y = mx + b form:),2015-11-09 21:34:52,1029735,Algebra 1,identify the slope and y-intercept and graph t...,2726797,2015-11-09 21:30:08

In [6]:
mn_df.groupby("post_id").subject_name.head(1).value_counts()

subject_name
Algebra 1         379
Geometry          148
Pre-Algebra        24
8th Grade Math      1
6th Grade Math      1
Name: count, dtype: int64

In [8]:
for row in mn_df[mn_df.subject_name == "Pre-Algebra"].drop_duplicates(subset="post_id", keep="first").itertuples():
    print(row.post_content)

Hey guys! What is the quotient rule??
How do I multiply fractions???????
How do I do the second part

Why can't I find the video? I need to watch it but they only have certain ones to choose from and none of them are the right one.
I cant find what lesson i have to do

How do you multiply fractions?!?!?
ΔHow do you work it
It depends on your grade
Is this correct? I'm going to seventh grade xoxo
nan
Im not sure how to do it?
HELLO EVERYONE. THIS WALL IS GLITCHING. IT SHOULD NOT BE OPEN. NO STUDY EXPERTS CHECK I RARELY DO.  PLEASE GO TO ALGEBRA 1 WALL IF YOU HAVE ANY QUESTIONS. NO ONE EVEN CHECKS THIS WALL BESIDES ME A LITTLE. THANK YOU EVERYONE :)
Y doesn't anyone check it?
Need help with last question
I need help with the question above please, thank you.

nan
Help....I'm stuck!
How do you get to the videos for the section you want to get too?

Hello.
Welcome , and i will be your study expert until 8. Remember to keep your posts pre-algebra related, thanks!
Welcome to Math Nation! I will be your study expert until 8. Remember to like us on Facebook/Twitter/Instagram. For any non-math questions, check out our FAQ on algebranation.com
And remember to keep posts pre-algebra related. Thanks!
Hi, does anyone need help?
Hi and welcome . I will be your study expert until 8. For any non-math questions be sure to check our FAQ. And follow us on Facebook/Twitter/Instagram. If you are new to the wall be sure to check out our videos &amp; more tab. Make sure to keep your posts algebra related. Thanks!
F on test Help

In [9]:
# manually extracted student queries that are relevant for testing
prealgebra_student_queries = [
    "What is the quotient rule??",
    "How do I multiply fractions???????",
    "How do you multiply fractions?!?!?",
]

In [18]:
first_reply_df = mn_df.sort_values(by=["post_id", "reply_ts_created"]).drop_duplicates(subset="post_id", keep="first")
is_extended_post = first_reply_df.reply_user == first_reply_df.post_user
is_extended_post.sum() / len(first_reply_df)

0.09945750452079566

In [21]:
first_reply_df[is_extended_post]

,reply_id,reply_user,reply_content,reply_ts_created,post_id,subject_name,post_content,post_user,post_ts_created
3852,130035,1699432,"Emily W, did you try Section 8, video 4?",2014-03-21 17:35:40,129972,Algebra 1,The question 6 was from section 9,1699432,2014-03-21 17:28:42
4737,152826,1480296,that is true\n,2014-04-08 14:01:21,152822,Algebra 1,what is 4 apples plus 5 bananas.\n\nthe answer...,1480296,2014-04-08 13:57:52
3573,270308,947140,My masterpiece&lt;3,2014-06-04 01:49:08,270307,Algebra 1,NaN,947140,2014-06-04 01:48:46
5438,394341,1110021,I really don't get them.(it) (that),2014-10-30 23:53:05,394330,Algebra 1,what are regression and median-fit lines?,1110021,2014-10-30 23:51:43
3857,405792,1114594,?\n,2014-11-05 20:05:36,405791,Algebra 1,who is this,1114594,2014-11-05 20:05:15
3322,427264,2012384,why are they erasing it? its a math question,2014-11-18 18:03:25,427262,Algebra 1,"A and B are supplementary, and A and C are sup...",2012384,2014-11-18 18:02:59
4065,503677,1771795,*solve,2015-01-16 18:09:03,503676,Algebra 1,how do you oslve with negative exponents (for ...,1771795,2015-01-16 18:08:53
3100,586532,2647012,"guys, anyone knows why that sad face follows m...",2015-02-21 02:18:50,586531,Algebra 1,does anyone need help?,2647012,2015-02-21 02:16:11
4116,601319,2249885,For both circled problems,2015-02-26 23:32:47,601307,Algebra 1,What rule are they talking about?,2249885,2015-02-26 23:31:04
2406,715134,2253648,And I have the answer 6 but I don't have any w...,2015-04-12 19:29:05,715133,Algebra 1,I've been on here for 2 hours and no one has e...,2253648,2015-04-12 19:28:46
3414,719096,1405267,never mind,2015-04-13 19:41:15,719094,Algebra 1,how do I solve this \n\n\n\n\n\n\n\n \n\n \n...,1405267,2015-04-13 19:40:59
3676,770629,2602060,Copy and paste link into URL,2015-04-25 18:22:59,770622,Algebra 1,I need help:\nfile:///Users/coreyble0276/Deskt...,2602060,2015-04-25 18:21:30
4407,831826,1228713,anyone?,2015-05-09 14:17:29,831822,Algebra 1,what do you get when earning Karma Points?,1228713,2015-05-09 14:16:29
4284,1381262,2728779,"Hey, Taylor!",2016-04-30 01:37:30,1381251,Algebra 1,"Hi, guys! Sorry I haven't been on in a while, ...",2728779,2016-04-30 01:35:36
56,1502969,2224148,Bump :),2016-08-31 21:40:53,1487335,Pre-Algebra,HELLO EVERYONE. THIS WALL IS GLITCHING. IT SHO...,2224148,2016-08-25 11:12:31
61,1534987,3553882,The answer is B,2016-09-10 20:33:40,1534394,Pre-Algebra,"I need help with the question above please, th...",3553882,2016-09-10 16:07:31
2956,1551899,4034030,like FOIL or BOX,2016-09-15 21:16:28,1551860,Algebra 1,who knows what BAM is,4034030,2016-09-15 21:13:22
4429,1561844,3559117,sorry... testing the drawing feature,2016-09-19 00:16:37,1561843,Algebra 1,NaN,3559117,2016-09-19 00:16:06
66,1591605,902403,It's just 10 because the sign changes right,2016-09-28 19:32:08,1591603,Pre-Algebra,NaN,902403,2016-09-28 19:31:26
3381,1720730,4648444,i like google,2016-11-14 18:02:27,1720729,Algebra 1,Do you like google?,4648444,2016-11-14 18:02:15
73,1739035,878948,You guys really need a study expert.,2016-11-19 00:58:27,1739013,Pre-Algebra,"Welcome , and i will be your study expert unti...",878948,2016-11-19 00:53:02
77,1740322,878948,And be sure to check the videos and more tab.,2016-11-20 00:45:19,1740320,Pre-Algebra,Welcome to Math Nation! I will be your study e...,878948,2016-11-20 00:44:02
80,1742811,878948,"Melissa, I hope you don't mind if I help these...",2016-11-21 17:03:05,1742809,Pre-Algebra,Hi and welcome . I will be your study expert u...,878948,2016-11-21 17:01:09
5299,1847362,2412659,I mean Simpkify,2017-01-19 22:50:35,1847360,Algebra 1,How would is solve this?,2412659,2017-01-19 22:49:57
4585,1861043,5505016,NaN,2017-01-26 19:28:32,1861038,Algebra 1,wat kind of equation is this brooke\ngn=g*r n-1\n,5505016,2017-01-26 19:26:54
4706,2065362,4196704,NaN,2017-05-01 00:43:36,2065356,Algebra 1,Consider the graphs of function for and functi...,4196704,2017-05-01 00:42:46
2919,2088306,2530483,Bye*,2017-05-12 15:13:04,2088305,Algebra 1,By Algebra Nation!,2530483,2017-05-12 15:12:52
3926,2148861,3553992,nevermind i got it thanks\n,2017-09-06 14:37:56,2148859,Algebra 1,can anyone hep me with this\n,3553992,2017-09-06 14:37:12
3333,2279191,3236240,"never mind, its 90-99\n",2017-11-07 23:01:12,2279158,Algebra 1,"Joshua, what pages are we doing in our algebra...",3236240,2017-11-07 22:43:35
5272,2304414,7150819,part d,2017-11-19 19:12:46,2304410,Algebra 1,ha read this.,7150819,2017-11-19 19:11:43
4650,2479612,4395583,?,2018-03-22 19:40:46,2479606,Algebra 1,Is this answer correct?,4395583,2018-03-22 19:33:39
5330,2561383,6291090,You have to click on the pic,2018-05-11 11:54:52,2561382,Algebra 1,"I'm trying to solve number one, using point sl...",6291090,2018-05-11 11:54:29
5406,2581840,8234074,Oops I tried to help someone and posted instead.,2018-08-15 23:37:19,2581827,Algebra 1,Try going to section 1 topic to under videos.,8234074,2018-08-15 23:35:14
4617,2891413,2499382,Can someone please walk me through this?,2019-04-19 23:15:27,2891412,Algebra 1,Let a = x² + 4. Use a to find the solutions fo...,2499382,2019-04-19 23:15:02
576,2969968,5738920,I meant to put bit*,2019-09-14 20:44:44,2969965,Geometry,I am a bot stumped on the next step for the se...,5738920,2019-09-14 20:44:24
1507,3001967,4514613,￼,2019-10-08 20:27:40,3001965,Geometry,These are the two,4514613,2019-10-08 20:27:23
611,3013719,9959984,Can you also check my work,2019-10-20 21:56:09,3013718,Geometry,I need help on the last question,9959984,2019-10-20 21:55:57
282,3031975,7382292,what does that mean?\n,2019-11-09 20:25:44,3031974,Geometry,"it say &quot; EF is located at E (x,y) and F (...",7382292,2019-11-09 20:24:31
547,3065938,4514613,I am not sure what the first step would be,2019-12-26 20:11:13,3065937,Geometry,I have a few questions for you guys!\nOkay her...,4514613,2019-12-26 20:08:14
288,3082092,1268312,For some reason it didn't load:,2020-02-02 01:49:53,3082091,Geometry,How do you solve this? Thanks.,1268312,2020-02-02 01:48:59
2237,3114730,10084330,NaN,2020-03-20 19:25:30,3114722,Geometry,Okey\nIn the figure Δ ABC is an equilateral tr...,10084330,2020-03-20 19:23:45
643,3116871,3210662,￼,2020-03-24 20:27:06,3116869,Geometry,I need help with this question.,3210662,2020-03-24 20:26:46
1027,3132610,3314354,wrong',2020-04-23 19:26:53,3132609,Geometry,It says I got it worng,3314354,2020-04-23 19:26:03
927,3135010,3314354,"Sorry if my handwriting is a bit bad, if you ...",2020-05-01 20:29:10,3135009,Geometry,Would this be a valid proof?\nIf a-b/1+ab = b-...,3314354,2020-05-01 20:28:11
1500,3148984,4595414,Someone........ Please,2020-08-12 19:30:27,3148983,Geometry,what is the average rate of change from x=-4 t...,4595414,2020-08-12 19:27:02
1939,3156826,2584471,I hope that can see my picture good enough,2020-09-03 22:22:22,3156823,Geometry,The next problem I have to work on is number 6...,2584471,2020-09-03 22:22:00
1489,3185338,5266143,I don't undersdtand why i got that wrong,2020-10-09 19:09:08,3185334,Geometry,Help!,5266143,2020-10-09 19:07:26
1174,3191767,2016070,won't it just look like an X even if i turn it?,2020-10-21 21:37:05,3191761,Geometry,sorry if it may look like i am hogging your he...,2016070,2020-10-21 21:36:00
2111,3243507,12259303,Is the answer 21780r√ 2?,2021-02-14 01:00:49,3243505,Geometry,A decent-sized square plot of land in town in-...,12259303,2021-02-14 01:00:01
1533,3279822,12729071,?,2021-05-03 23:12:45,3279821,Geometry,Please help me on this,12729071,2021-05-03 23:07:38
2148,3307126,3213490,Here it is...,2021-09-13 22:58:23,3307117,Geometry,Hey everyone! Hope you're having a great after...,3213490,2021-09-13 22:57:52
3928,3308687,3229384,*downloadable*,2021-09-16 00:21:25,3308680,Algebra 1,Hey is anybody able to send me a downable docu...,3229384,2021-09-16 00:20:39
1530,3313609,4427013,Forgot to write my question but how do we solv...,2021-09-24 00:52:42,3313603,Geometry,\n,4427013,2021-09-24 00:51:30
530,3315562,4599973,Because I got this and I’m confused if it’s wr...,2021-09-28 20:54:36,3315560,Geometry,For this one how do I figure out which one is ...,4599973,2021-09-28 20:52:37
1164,3323184,14530636,￼this is my working,2021-10-20 21:06:26,3323178,Geometry,For section 3 part b I am not to sure of my an...,14530636,2021-10-20 21:05:40

In [42]:
posts = []
for post_id, group in mn_df.sort_values(by=["post_id", "reply_ts_created"]).groupby("post_id"):
    post_content = str(group.iloc[0].post_content)
    post_user = group.iloc[0].post_user
    for row in group.itertuples():
        if row.reply_user != post_user:
            break  # reply from non-OP
        else:
            # continuation of the post in a reply
            post_content += "\n[Continued:] " + str(row.reply_content)
        prev_row = row
    posts.append(
        {
            "post_id": post_id,
            "post_user": post_user,
            "subject_name": group.iloc[0].subject_name,
            "post_ts_created": group.iloc[0].post_ts_created,
            "post_content": post_content,
        }
    )
len(posts)

553

In [43]:
pd.DataFrame(posts).sample(3)

,post_id,post_user,subject_name,post_ts_created,post_content
104,817052,1599220,Algebra 1,2015-05-06 00:02:32,Hello! Can anyone please tell me the formula f...
461,3118045,1016133,Geometry,2020-03-26 21:17:54,"Hello everyone, could someone help me with thi..."
122,987345,1685281,Algebra 1,2015-10-20 00:16:17,hello d:D

In [44]:
pd.DataFrame(posts).to_csv(data_dir / "derived" / "mn_student_queries_raw2.csv")

Original sample used for annotation was this:

```
sdf = mn_df[mn_df.subject_name.isin(["Algebra 1", "Geometry"])]
sdf = sdf.drop_duplicates(subset="post_id", keep="first")
sdf[["post_id", "subject_name", "post_content", "post_user", "post_ts_created"]].to_csv(data_dir / "derived" / "mn_student_queries_raw.csv")
```

But I threw those annotations away.

### Loading annotated data

In [46]:
adf = pd.read_csv(data_dir / "derived" / "mn_student_queries_raw2_annotated.csv")
adf.shape

(553, 8)

In [47]:
adf.sample(n=3)

,index,post_id,post_user,subject_name,post_ts_created,post_content,is_respondable_query,notes
2,2,19856,848987,Algebra 1,2013-11-16 23:25:43,how do you a graph function rule?!,general,NaN
462,462,3119582,3073615,Geometry,2020-03-31 19:38:40,is anybody there\n,NaN,NaN
405,405,2966682,8261996,Geometry,2019-09-11 21:16:05,Wouldn't it be the same thing??,NaN,NaN

In [48]:
adf.is_respondable_query.value_counts()

is_respondable_query
problem                     62
general                     52
confirm                      8
resource request             4
general,problem              3
advice                       2
wrong but don't know why     1
clarify question             1
stuck                        1
Name: count, dtype: int64

In [53]:
pd.crosstab(adf.subject_name, adf.is_respondable_query, margins=True).T.sort_values(by="All", ascending=False)

subject_name,6th Grade Math,Algebra 1,Geometry,Pre-Algebra,All
is_respondable_query,,,,,
All,1,111,19,3,134
problem,1,54,7,0,62
general,0,40,9,3,52
confirm,0,6,2,0,8
resource request,0,3,1,0,4
"general,problem",0,3,0,0,3
advice,0,2,0,0,2
clarify question,0,1,0,0,1
stuck,0,1,0,0,1
wrong but don't know why,0,1,0,0,1

In [57]:
general_df = adf[adf.is_respondable_query.map(lambda s: pd.notna(s) and "general" in s)][
    ["post_id", "subject_name", "post_content", "is_respondable_query"]
]
general_df.sample(n=3)

,post_id,subject_name,post_content,is_respondable_query
29,199138,Algebra 1,Can someone give me a factoring example I don...,general
138,1105388,Pre-Algebra,Hey guys! What is the quotient rule??,general
110,859909,Algebra 1,How do you find the domain and range that are ...,general

In [58]:
general_df.to_csv(data_dir / "derived" / "mn_general_student_queries.csv", index=False)

In [62]:
# load the mathnation query data
mn_general_student_queries_filepath = data_dir / "derived" / "mn_general_student_queries.csv"
query_df = pd.read_csv(mn_general_student_queries_filepath)
print(f"MathNation queries: {query_df.shape}")
query_df.sample(n=3)

MathNation queries: (55, 4)

,post_id,subject_name,post_content,is_respondable_query
38,2672704,Algebra 1,i have a problem is this equation linear?\n7x ...,"general,problem"
41,2690581,Algebra 1,How do you know if a number is a constant?,general
20,1790360,Algebra 1,What is vertex form and how do you solve for it?,general